*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-container{
  width: 100vw;
  font-family: 'Ubuntu', sans-serif;
}

.container{
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: inherit;
}

.no-style{
  list-style-type: none;
}

.clearfix::after{
  display: table;
  content: "";
  clear: both;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.button{
  text-align: center;
  display: inline-block;
  padding: 0 20px;
  line-height: 35px;
  border-radius: 5px;
}

.button-empty{
  border: 2px solid #FF7A59;
}

.button-full{
  color: #fff;
  background-color: #FF7A59;
}

.orange-checkmark img{
  width: 12px;
  height: 12px;
  margin-right: 10px;
}
/* fine utility class*/

/* upbar */
.upbar-container{
  background-color: #DEF3F7;
  border-bottom: 2px solid grey;
}
.upbar{
  height: 60px;
  line-height: 60px;
  margin-left: 10%;
  margin-right: 10%;
}

.upbar > ul li{
  display: inline-block;
  padding: 0 10px;
  color: grey;
}

/* fine upbar */
.logo{
  margin-left: 10%;
  margin-top: 15px;
}
.navbar-container{
  margin-right: 10%;
  height: 60px;
}
.navbar-container ul li{
  display: inline-block;
  padding: 0 10px;
  color: #33475B;
  line-height: 60px;
}

/* jumbotron */
.jumbotron-container{
  background-image: url(../img/jumbotron.png);
  height: 600px;
}
.jumbotron-content{
  width: 500px;
  margin-left: 10%;
  margin-top: 60px;
}

.jumbotron-content h1{
  font-size: 40px;
  color: #33475B;
}

.jumbotron-content p{
  margin-top: 30px;
  color: #33475B;
  font-size: 16px;
}

.jumbotron-content .button{
  padding: 10px 20px;
  margin-top: 30px;
}

.link-jumbotron{
  color: #33475B;
  display: block;
  margin-top: 30px;
}

.blue-bar{
  height: 80px;
  background-color: #92E4DA;
  border-top: 4px solid #33475B;
  border-bottom: 4px solid #33475B;
}
/* fine jumbotron */

/* main */
.main-container{
  height: 1200px;
  background-color:#F5F8FA;
  margin: 0 auto;
}

.cubo img{
margin-top: 50px;
margin-left: 450px;
}

.cubo h2{
  text-align: center;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #33475B;
}

.cubo p{
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  color: #33475B;
}

.hubspotfree-container{
  margin: 0 auto;
  margin-top: 50px;
  width: 75%;
  height: 300px;
  box-shadow: 2px 2px 20px grey;
}

.hubspotfree-left{
  width: 30%;
}

.hubspotfree-right{
  width: 70%;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
}

.hubspotfree-left img{
  width: 150px;
  height: 150px;
  margin-left: 120px;
  margin-top: 30px;
}

.hubspotfree-left .button{
  margin-left: 130px;
  margin-top: 30px;
}

.hubspotfree-right h2{
  color: #33475B;
  font-size: 24px;
  word-spacing: 8px;
  padding-bottom: 30px;
}

.hubspotfree-right p{
  color: #33475B;
  padding-bottom: 20px;
}

.hubspotfree-right h3{
  color: #33475B;
  display: inline-block;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.hubspotfree-right hr{
  display: inline-block;
  color: #33475B;
  width: 250px;
  margin-left: 50px;
  vertical-align: middle;
}

.hubspotfree-right ul li{
  color: #33475B;
  display: inline-block;
  padding-right: 15px;
}


/* fine main */
