*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-container{
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 100vw;
  min-width: 1200px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: inherit;
}

.no-style{
  style: none;
}

.clearfix::after{
  display: table;
  content: "";
  clear: both;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.button{
  text-align: center;
  display: inline-block;
  padding: 0 20px;
  line-height: 35px;
  border-radius: 5px;
}

.button-empty{
  border: 2px solid #FF7A59;
}

.button-full{
  color: #fff;
  background-color: #FF7A59;
}

/* fine utility class*/

/* upbar */
.upbar-container{
  background-color: #DEF3F7;
  border-bottom: 2px solid grey;
}
.upbar{
  height: 60px;
  line-height: 60px;
  margin-left: 10%;
  margin-right: 10%;
}

.upbar > ul li{
  display: inline-block;
  padding: 0 10px;
  color: grey;
}

/* fine upbar */
.logo{
  margin-left: 10%;
  margin-top: 15px;
}
.navbar-container{
  margin-right: 10%;
  height: 60px;
}
.navbar-container ul li{
  display: inline-block;
  padding: 0 10px;
  color: #33475B;
  line-height: 60px;
}

/* jumbotron */
.jumbotron-container{
  background-image: url(../img/jumbotron.png);
  height: 600px;
}
.jumbotron-content{
  width: 500px;
  margin-left: 10%;
  margin-top: 60px;
}

.jumbotron-content h1{
  font-size: 66px;
  color: #33475B;
}

.jumbotron-content p{
  margin-top: 30px;
  color: #33475B;
  font-size: 22px;
}

.jumbotron-content .button{
  padding: 10px 20px;
  margin-top: 30px;
}

.link-jumbotron{
  color: #33475B;
  display: block;
  margin-top: 30px;
}
